<div class="container" style="margin-top: 4%;">
  <h1 class="text-center">Choisis l'examen</h1>
  <div class="card-container">
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>BEPC</span>
    </a>
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Probatoire A</span>
    </a>
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Probatoire C</span>
    </a>
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Probatoire D</span>
    </a>
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Baccalauréat A</span>
    </a>
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Baccalauréat C</span>
    </a>
    <a routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Baccalauréat D</span>
    </a>
  </div>

</div>
