<div class="container" style="margin-top: 4%;">
  <div class="row">
    <!-- section reservée pour les details du cours -->
    <div class="col-md-9">
      <!-- titre du cours -->
      <div class="row">
        <h1 class="text-center">Les fonctions numériques</h1>
      </div>

      <!-- video du cours -->
      <div class="row">
        <video width="100%" height="100%" controls>
          <source src="http://franklinduval.pythonanywhere.com/media/videos/What_is_POINT-TO-MULTIPOINT_COMMUNICATION__What_does_POINT-TO-MULTIPOINT_COMMUNI_HD.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <br>
      <br>
      <!-- zone pour le markdown du cours -->
      <div class="row">
        zone pour le markdown
      </div>
    </div>

    <!-- section reservée au nom de l'auteur du cours et aux commentaires -->
    <div class="col-md-3">
      <h1>l'auteur de ce cours est Prof Penda</h1>
      <br>
      <h5>noter ce cours</h5>
      <p>Laisser un commentaire</p>
    </div>
  </div>

</div>
