<div class="container" style="margin-top: 4%;">
  <h1 class="text-center">Choisis la matière pour continuer ... </h1>
  <div class="card-container">
    <a [routerLink]="['mathematiques']" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Mathématiques</span>
    </a>
    <a routerLink="physique" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Physique</span>
    </a>
    <a routerLink="chimie" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Chimie</span>
    </a>
    <a routerLink="anglais" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Anglais</span>
    </a>
    <a routerLink="svt" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>SVT</span>
    </a>
    <a routerLink="histoire" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Histoire</span>
    </a>
    <a routerLink="geographie" routerLinkActive="active" class="card"  rel="noopener" style="background-color: #deefe5; color:#008036;">
      <span>Géographie</span>
    </a>
  </div>

</div>
